<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/static/css/component.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css/auths/commentedBoothBoards.css"
    />
    <title>Document</title>
  </head>
  <body class="background-color-white">
    <div class="header-wrapper">
      <img
        class="header-button"
        id="back-button"
        src="/static/icons/common/go_back_icon.svg"
      />
      <span class="header-label">댓글 단 부스</span>
      <div class="header-button"></div>
    </div>

    <div class="booth-sort-wrapper">
      <div class="booth-number-backtext">
        총
        <span class="booth-number">{{commentboothList.all|length}}</span>개의
        부스
      </div>
    </div>
    <div class="booth-list-container">
      {% for booth in commentboothList.all %}
      <div class="booth-list-wrapper">
        <div class="booth-list-heart-background" id="like-button">
          <img
            class="heart-icon"
            src="/static/icons/common/empty_heart_icon.svg"
          />
        </div>
        {% with booth.post.images.all|first as image%}
        <img class="booth-list-image" src="{{image.image.url}}" />
        {% endwith %}
        <div class="booth-list-label-wrapper" id="booth-label">
          <div class="booth-list-label-header">{{booth.post.title}}</div>
          <div class="booth-list-label-content">{{booth.post.intro}}</div>
        </div>
      </div>
      {% endfor %}
    </div>
  </body>
  <script src="/static/js/auths/commentedBoothBoards.js"></script>
  <script src="/static/js/common.js"></script>
</html>
