<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../../static/css/component.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../../static/css/auths/commentedPostBoards.css"
    />
    <title>Document</title>
  </head>
  <body class="background-color-white">
    <div class="header-wrapper">
      <img id="go-back-button"
        src="../../static/icons/common/go_back_icon.svg"
        class="header-button"
      />
      <div class="header-label">My Page</div>
      <div class="header-button"></div>
    </div>
    <div class="main-container">
      <div class="commented-posts-info-wrapper">
        <div class="commented-post-count-label">
          총 <span class="commented-post-count">5</span>개의 글
        </div>
        <div class="commented-post-sort-wrapper">
          <img
            src="../../static/icons/common/sort_icon.svg"
            class="post-sort-icon"
          />
          <select class="post-sort-select">
            <option value="">최신순</option>
          </select>
        </div>
      </div>

      <div class="board-wrapper" id="commented-posts">
        <div class="wrap-title-arrow">
          <div class="post-title">글의 제목입니다.</div>
          <img id="read-more-button"
            src="../../static/icons/common/right_arrow_icon.svg"
            class="arrow-image"
          />
        </div>
        <div class="contents-wrapper">
          <div class="post-picture" id="post-picture"></div>
          <div class="post-article">
            커다란 고래부터 작은 플랑크톤까지 먹이가 다양한데, 포식성 상어들의
            경우 빠져도 얼마든지 다시
          </div>
          <div class="post-date">9/1</div>
          <div class="post-comment-number">
            <img src="../../static/icons/common/comment_icon.svg" /> 28
          </div>
        </div>
      </div>

      <div class="board-wrapper" id="commented-posts">
        <div class="wrap-title-arrow">
          <div class="post-title">글의 제목입니다.</div>
          <img id="read-more-button"
            src="../../static/icons/common/right_arrow_icon.svg"
            class="arrow-image"
          />
        </div>
        <div class="contents-wrapper">
          <div class="post-picture" id="post-picture"></div>
          <div class="post-article">
            커다란 고래부터 작은 플랑크톤까지 먹이가 다양한데, 포식성 상어들의
            경우 빠져도 얼마든지 다시
          </div>
          <div class="post-date">9/1</div>
          <div class="post-comment-number">
            <img src="../../static/icons/common/comment_icon.svg" /> 28
          </div>
        </div>
      </div>

    </div>

    <script src ="../../static/js/auths/commentedPostBoards.js"></script>

  </body>
</html>
