<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../static/css/component.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/auths/login.css"/>
    <title>Document</title>
  </head>
  <body class="background-image">
    <div class="header-wrapper">
      <a href="#"><img class="header-button" src="header-back-btn.svg"></a> <!--뒤로가기-->
      <span class="header-label">Login</span>
      <a href="#"><img class="heade-button" src="header-home-btn.svg"></a> <!--홈으로 돌아가기-->
    </div>
    <div class="login-label-wrapper">
      <div class="login-label-title">Ewha festival 2021</div>
      <div class="login-label-content">이화의 축제를 즐기세요.</div>
    </div>
    <div class="user-input-all-wrapper">
      <div class="user-input-wrapper">
        <div class="user-input-label">아이디</div>
        <input class="user-input" type="text" name="#">
      </div>
      <div class="user-input-wrapper">
        <div class="user-input-label">비밀번호</div>
        <input class="user-input" type="password" name="#">
      </div>
    </div>
    <div class="login-btn-wrapper">
      <button class="button-filled-green-login" type="submit">로그인</button>
      <a href="#" class="login-to-sign-up">계정이 없으신가요? 회원가입하세요.</a> <!--회원가입 창으로 이동-->
    </div>
  </body>
</html>