<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <link rel="stylesheet" type="text/css" href="/static/css/component.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/auths/login.css" />
    <title>Document</title>
  </head>
  <body class="background-color-white">
    <div class="header-wrapper">
      <a href="#">
        <img
          id="back-button"
          class="header-button"
          src="/static/icons/common/go_back_icon.svg"
      /></a>
      <!--뒤로가기-->
      <span class="header-label">Login</span>
      <a href="#"
        ><img
          id="home-button"
          class="header-button"
          src="/static/icons/common/home_icon.svg"
      /></a>
      <!--홈으로 돌아가기-->
    </div>
    <div class="login-label-wrapper">
      <div class="login-label-title">Ewha Festival 2021</div>
      <div class="login-label-content">이화의 축제를 즐기세요.</div>
    </div>
    <form id="login-form" action="{% url 'account:login' %}" method="POST">
      {% csrf_token %}
      <div class="user-input-all-wrapper">
        {% for field in forms %}
        <div class="user-input-wrapper">
          <span class="user-input-label">{{field.label}}</span>
          <input
            type="{{ field.field.widget.input_type }}"
            class="user-input"
            id="{{ field.id_for_label }}"
            placeholder="{{ field.label }}"
            name="{{ field.name }}"
          />
        </div>
        {% endfor %}
      </div>
      <div class="login-btn-wrapper">
        <button class="button-filled-green-login" type="submit">로그인</button>
        <a href="#" class="login-to-sign-up" id="signup-button">
          계정이 없으신가요? 회원가입하세요.
        </a>
        <!--회원가입 창으로 이동-->
      </div>
    </form>
    <script src="/static/js/auths/login.js"></script>
    <script src="/static/js/common.js"></script>
  </body>
</html>
