<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../../static/css/component.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../../static/css/auths/myPage.css"
    />
    <title>Document</title>
  </head>
  <body class="background-color-white">
    <div class="header-wrapper">
      <img
        src="../../static/icons/common/go_back_icon.svg"
        class="header-button"
        id="back-button"
      />
      <div class="header-label">My Page</div>
      <div class="header-button"></div>
    </div>
    <div class="main-container">
      <div class="user-name">사용자 이름</div>
      <div class="user-nickname">닉네임</div>
      <div class="user-email">sample1886@ewhain.net</div>
      <div class="user-list-wrapper">
        <div class="user-list-item" id="commented-post-list-button">
          <img src="../../static/icons/common/commented_post_icon.svg" />
          <div class="user-list-label">댓글 단 글</div>
          <img src="../../static/icons/common/right_arrow_icon.svg" />
        </div>
        <div class="user-list-item" id="commented-booth-list-button">
          <img src="../../static/icons/common/commented_booth_icon.svg" />
          <div class="user-list-label">댓글 단 부스</div>
          <img src="../../static/icons/common/right_arrow_icon.svg" />
        </div>
        <div class="user-list-item" id="liked-booth-list-button">
          <img src="../../static/icons/common/liked_booth_icon.svg" />
          <div class="user-list-label">좋아요 한 부스</div>
          <img src="../../static/icons/common/right_arrow_icon.svg" />
        </div>
      </div>
    </div>
  </body>
  <script src="../../static/js/auths/myPage.js"></script>
  <script src="../../static/js/common.js"></script>
</html>
