<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>회원가입 페이지</h1>
<form action="" method="POST">
    {% csrf_token %}
    {% for form in forms %}
    <div>
        <label for="{{ form.id_for_label }}">{{ form.label }}</label>
        {{ form }}
    </div>
    {% endfor %}

    {% if error %}
    {{ error }}
    {% endif %}
    <button type="submit" name="register-submit" value="register">회원가입하기</button>
</form>

</body>
</html>