@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import 'reset.css';

* {
  box-sizing: border-box;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', sans-serif !important;
}
input:focus {
  outline: none;
}
a {
  text-decoration: none;
}
body {
  max-width: 425px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}
.background-image {
  background-image: url(../icons/common/background.svg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 375px) {
  .background-image {
    background-size: contain;
  }
}
.background-color-white {
  background: #f6f6f6;
}
/* 버튼 컴포넌트  button */
.button-filled-gray {
  box-sizing: border-box;
  width: 336px;
  height: 50px;
  display: flex;
  background: #e2e2e2;
  border: solid #d9d9d9 2px;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.07);
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}
.button-filled-green {
  box-sizing: border-box;
  width: 336px;
  height: 50px;
  display: flex;
  background: rgba(124, 228, 149, 0.6);
  border: solid rgba(124, 228, 149, 0.6) 2px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.07);
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.6);
}
.button-filled-transparent {
  background-color: #ffffff;
  width: 336px;
  height: 50px;
  display: flex;
  border: solid #d9d9d9 2px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
}
/* 입력창, input */
.user-input-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.user-input-label {
  font-size: 15px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
}
.user-input {
  width: 100%;
  height: 47px;
  border-radius: 10px;
  background-color: #e7e7e7;
  margin-top: 8px;
  margin-bottom: 10px;
  border: none;
}
/* hashtag */
.major-hashtag-container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  height: 35px;
  overflow: scroll;
  width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 0px 12px 0px 20px;
}
.major-hashtag-container::-webkit-scrollbar {
  display: none;
}
.major-hashtag-label {
  line-height: 13px;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  width: 100%;
  white-space: nowrap;
}
.major-hashtag-item {
  border-radius: 20px;
  border: 1px solid;
  background: rgba(255, 255, 255, 0.7);
  margin-right: 8px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11px 12px;
}
.humanities-hashtag-outline {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(177, 177, 177, 0.5);
}
.humanities-hashtag-filled {
  background-color: #b1b1b1;
  border-color: #b1b1b1;
  color: #ffffff;
}
.social-hashtag-outline {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(11, 165, 232, 0.5);
}
.social-hashtag-filled {
  background-color: #0ba5e8;
  border-color: #0ba5e8;
  color: #ffffff;
}
.edu-hashtag-outline {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(30, 210, 235, 0.5);
}
.edu-hashtag-filled {
  background-color: #1ed2eb;
  border-color: #1ed2eb;
  color: #ffffff;
}
.natural-hashtag-outline {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(243, 202, 27, 0.5);
}
.natural-hashtag-filled {
  background-color: #f3ca1b;
  border-color: #f3ca1b;
  color: #ffffff;
}

.scraton-hashtag-outline {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(67, 226, 206, 0.5);
}
.scraton-hashtag-filled {
  background-color: #43e2ce;
  border-color: #43e2ce;
  color: #ffffff;
}
.booth-hashtag-outline {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(45, 222, 88, 0.5);
  background: #ffffff;
}
.booth-hashtag-filled {
  background-color: #2dde58;
  border-color: #2dde58;
  color: #ffffff;
}

/* text */
.festival-headline {
  width: 226px;
  height: 34px;
  font-weight: bold;
  font-size: 25px;
  line-height: 34px;
  color: #1a4426;
}
.wrap-major-board-components {
  display: flex;
  flex-direction: column;
}
.major-board-title {
  height: 29px;
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
  color: #1a4426;
}
.major-board-detail-text {
  margin-top: 5px;
  width: 108px;
  height: 22px;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: rgba(26, 68, 38, 0.5);
}
.wrap-article-components {
  display: flex;
  flex-direction: column;
}
.article-title {
  height: 36px;
  font-weight: bold;
  font-size: 25px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.9);
}
.article-date {
  margin-top: 5px;
  width: 113px;
  height: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.5);
}
.article-text {
  text-align: justify;
  margin-top: 3%;
  font-size: 15px;
  line-height: 23px;
  letter-spacing: -0.03em;
  color: rgba(0, 0, 0, 0.9);
}
.booth-name {
  width: 177px;
  height: 45px;
  font-weight: bold;
  font-size: 36px;
  line-height: 52px;
  color: rgba(0, 0, 0, 0.9);
}

.booth-introduction {
  width: 167px;
  height: 26px;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 13px;
}
/* mainheader */
.header-wrapper {
  display: flex;
  width: 100%;
  height: 57px;
  background-color: #62d0a1;
  justify-content: space-between;
  align-items: center;
  padding: 0px 11px;
}

.header-button {
  width: 35px;
  height: 35px;
  display: inline-block;
  content: none;
}

.header-label {
  font-size: 19px;
  font-weight: 700;
  color: #1a4426;
}
.college-header-label {
  font-weight: 500;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.6);
}
/* subheader */
.subheader-container {
  display: flex;
  width: 100%;
  height: 57px;
  background: #ffffff;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
  border-radius: 0px 0px 17px 17px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.subheader-text {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}

.subheader-icon {
  margin-left: auto;
  margin-right: 5%;
  width: 21px;
  height: 21px;
  background-image: url('../../static/icons/common/search_icon.svg');
  background-size: cover;
}

/* 학과(혹은 단대) 게시글 리스트 요소 */
.board-wrapper {
  border-radius: 12px;
  left: 53.2%;
  width: 100%;
  height: 153px;
  max-height: 100%;
  max-width: 100%;
  background: #ffffff;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
}
.contents-wrapper {
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-template-columns: 1fr 2fr 2fr;
  column-gap: 4%;
  margin-left: 10px;
  margin-right: 4%;
  margin-top: 2%;
  border-radius: 12px;
}
.wrap-title-arrow {
  border-bottom: 1px solid rgba(26, 68, 38, 0.1);
  display: flex;
  margin-top: 2%;
  padding-bottom: 2%;
  justify-content: space-between;
}
img.arrow-image {
  margin-right: 4%;
}
.post-title {
  margin-left: 10px;
  width: 168.98px;
  height: 24.86px;
  font-family: Noto Sans KR;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.9);
}
.post-picture {
  width: 100%;
  border-radius: 9px;
  background: #c4c4c4;
  object-fit: cover;
}
.post-picture-outside {
  grid-row: 1 / 3;
  width: 95px;
  height: 95px;
  border-radius: 9px;
  background: #c4c4c4;
  object-fit: cover;
}
.post-article {
  grid-column: 2 / 4;
  font-family: Noto Sans KR;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.03em;
  color: rgba(0, 0, 0, 0.9);
  margin-right: 2%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}
.post-date {
  font-family: Manrope;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  letter-spacing: -0.03em;
  color: rgba(0, 0, 0, 0.4);
  align-self: end;
}
.post-comment-number {
  width: 37.2px;
  align-self: end;
  justify-self: end;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #3cc3cc;
}

/* 부스 글 리스트 요소 */
@media (max-width: 340px) {
  .booth-list-wrapper {
    margin-bottom: 20px;
  }
}
.booth-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 160px;
  height: 204px;
  border-radius: 17px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
  background-color: white;
}

.booth-list-image {
  width: 160px;
  height: 130px;
  border-radius: 17px 17px 0px 0px;
  background-color: #e0e0e0;
}

.booth-list-label-header {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #000000;
  opacity: 90%;
  margin-top: 7px;
  margin-bottom: 5px;
  margin-left: 14px;
}

.booth-list-label-content {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 15px;
  font-weight: 500px;
  color: #000000;
  opacity: 50%;
  margin: 3px 13px 16px 14px;
}
/* 단대 아이콘 */
.college-button-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #80e0ff;
  border-radius: 12px;
  width: 74px;
  height: 95px;
  box-shadow: 0px 5px 5px rgb(0 0 0/0.1);
  margin-bottom: 19px;
  margin-right: 13px;
}
.college-icon {
  margin: auto;
}
.college-name {
  background-color: #3cbef6;
  border-radius: 12px;
  margin: 0px 6px 5px 6px;
  width: 62px;
  height: 21px;
  line-height: 21px;
  font-size: 12px;
  font-weight: 500;
  color: rgb(0 0 0/0.6);
  text-align: center;
}
/* 댓글 */
.written-comment-box {
  display: flex;
  flex-direction: column;
  width: 335px;
  height: 96px;
  background: #f6f6f6;
  border-radius: 12px;
}
.written-comment-user {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.03em;
  color: rgba(0, 0, 0, 0.9);
}
.written-comment-text {
  margin-left: 3%;
  font-size: 15px;
  line-height: 23px;
  letter-spacing: -0.03em;
  color: rgba(0, 0, 0, 0.9);
}
img .summary-icon {
  width: 23px;
  height: 23px;
}
.wrap-user-and-icon {
  display: grid;
  grid-template-columns: 9fr 1fr;
  margin-top: 2%;
  margin-right: 1%;
  margin-left: 3%;
}

/* 댓글 입력창 */
.comment-box-wrapper {
  background-color: white;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
}
.comment-inputbox {
  background-color: #ebebeb;
  border-style: none;
  border-radius: 25.5px;
  box-sizing: border-box;
  padding-left: 15px;
  margin: 0 11px;
  height: 51px;
  font-size: 15px;
  font-weight: 400;
  flex-grow: 1;
}
.comment-submit-button {
  position: absolute;
  right: 28px;
}

/* 검색input */
.search-box {
  display: flex;
  border-radius: 5px;
}
.search-box input {
  font-size: 1.2rem;
  border-style: none;
  background: transparent;
}
.no-comment-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.no-comment-text {
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.3);
}
