<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../../static/css/component.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../../static/css/boards/boothBoards.css"
    />
    <title>Document</title>
  </head>

  <body class="background-image">
    <div class="header-wrapper">
      <img
        class="header-button"
        id="back-button"
        src="../../static/icons/common/go_back_icon.svg"
      />
      <span class="header-label">Ewha festival 2021</span>
      <div class="header-button"></div>
    </div>

    <div class="subheader-container">
      <div class="subheader-text">부스게시판</div>
      <div class="subheader-icon" id="search-button"></div>
    </div>

    <div class="major-hashtag-container">
      <div class="major-hashtag-white" id="theme-hashtag-button">공연</div>
      <div class="major-hashtag-white" id="theme-hashtag-button">문화</div>
      <div class="major-hashtag-white" id="theme-hashtag-button">사회과학</div>
      <div class="major-hashtag-white" id="theme-hashtag-button">사회연대</div>
      <div class="major-hashtag-white" id="theme-hashtag-button">종교</div>
    </div>

    <div class="booth-sort-wrapper">
      <div class="booth-number-backtext">
        총 <span class="booth-number">75</span>개의 부스
      </div>
      <div class="booth-sort-dropdown-wrapper">
        <img
          class="booth-sort-icon"
          src="../../static/icons/common/sort_icon.svg"
        />
        <select class="booth-sort-dropdown">
          <option class="dropdown-item" selected>최신순</option>
          <option class="dropdown-item">1</option>
          <option class="dropdown-item">2</option>
          <option class="dropdown-item">3</option>
        </select>
      </div>
    </div>
    <div class="booth-list-container">
      <div class="booth-list-wrapper" id="1">
        <div class="booth-list-heart-background" id="like-button">
          <img
            class="heart-icon"
            id="like-button-icon"
            src="../../static/icons/common/empty_heart_icon.svg"
          />
        </div>
        <img class="booth-list-image" src="#" />
        <div class="booth-list-label-wrapper">
          <div class="booth-list-label-header">부스 이름</div>
          <div class="booth-list-label-content">
            부스에 대한 간략한 소개를 하는 텍스트
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="../../static/js/boards/boothBoards.js"></script>
  <script src="../../static/js/common.js"></script>
</html>
