<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="../../static/css/component.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="../../static/css/boards/collegeBoards.css"
      type="text/css"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="collegeBoards-wrapper">
      <div class="header-wrapper">
        <a href="#"
          ><img
            class="header-button"
            id="back-button"
            src="../../static/icons/common/go_back_icon.svg"
        /></a>
        <span class="header-label">Ewha Festival 2021</span>
        <a href="#"
          ><img
            id="home-button"
            class="header-button"
            src="../../static/icons/common/home_icon.svg"
        /></a>
      </div>
      <div class="subheader-container">
        <div class="subheader-text">사회과학대학</div>
        <div class="subheader-icon"></div>
      </div>
      <div class="major-hashtag-container">
        <div class="major-hashtag-white" onclick="location.href='#'">
          정치외교학과
        </div>
        <div div class="major-hashtag-white" onclick="location.href='#'">
          행정학과
        </div>
        <div class="major-hashtag-white" onclick="location.href='#'">
          경제학과
        </div>
        <div class="major-hashtag-white" onclick="location.href='#'">
          문언정보학과
        </div>
      </div>
      <div class="board-wrapper">
        <div class="wrap-title-arrow">
          <div class="post-title">글의 제목입니다.</div>
          <img
            src="../../static/icons/common/right_arrow_icon.svg"
            class="arrow-image"
          />
        </div>
        <div class="contents-wrapper">
          <div class="post-picture"></div>
          <div class="post-article">
            커다란 고래부터 작은 플랑크톤까지 먹이가 다양한데, 포식성 상어들의
            경우 빠져도 얼마든지 다시
          </div>
          <div class="post-date">9/1</div>
          <div class="post-comment-number">
            <img src="../../static/icons/common/comment_icon.svg" />
          </div>
        </div>
      </div>
    </div>
    <script src="../../static/js/common.js"></script>
  </body>
</html>
