<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/component.css" type="text/css" />
    <link
      rel="stylesheet"
      href="/static/css/boards/collegeBoards.css"
      type="text/css"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="collegeBoards-wrapper">
      <div class="header-wrapper">
        <a href="#"
          ><img
            class="header-button"
            id="back-button"
            src="/static/icons/common/go_back_icon.svg"
        /></a>
        <span class="header-label">Ewha Festival 2021</span>
        <a href="#"
          ><img
            class="header-button"
            id="home-button"
            src="/static/icons/common/home_icon.svg"
        /></a>
      </div>
      <div class="subheader-container">
        <div class="subheader-text" id="college-name">사회과학대학</div>
        <div class="subheader-icon"></div>
      </div>
      {% if hashtag %}
      <div class="major-hashtag-container">
        {% for tag in hashtag.all %}
        <div class="major-hashtag-white" id="{{tag.college_tag}}">
          {{tag.college_tag}}
        </div>
        {% endfor %}
      </div>
      {% endif %}
      <div class="college-posts-container">
        {% for articlepost in post.all %}
        <div class="board-wrapper" id="{{articlepost.id}}">
          <div class="wrap-title-arrow">
            <div class="post-title">{{articlepost.title}}</div>
            <img
              src="/static/icons/common/right_arrow_icon.svg"
              class="arrow-image"
            />
          </div>
          <div class="contents-wrapper">
            <div class="post-picture"></div>
            <div class="post-article">{{articlepost.body}}</div>
            <div class="post-date">{{articlepost.pub_time|date:"m/d"}}</div>
            <div class="post-comment-number">
              <img src="/static/icons/common/comment_icon.svg" />
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <script src="/static/js/common.js"></script>
  </body>
  <script src="/static/js/boards/collegeBoards.js"></script>
</html>
