<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <link rel="stylesheet" href="/static/css/component.css" type="text/css" />
    <link
      rel="stylesheet"
      href="/static/css/boards/collegeBoards.css"
      type="text/css"
    />
    <title>Document</title>
  </head>
  <body class="background-color-white">
    <div class="collegeBoards-wrapper">
      <div class="header-wrapper">
        <img
          class="header-button"
          id="back-button"
          src="/static/icons/common/go_back_icon.svg"
        />
        <span class="header-label">Ewha Festival 2021</span>
        <img
          class="header-button"
          id="home-button"
          src="/static/icons/common/home_icon.svg"
        />
      </div>
      <div class="subheader-container">
        <div class="subheader-text" id="college-name">사회과학대학</div>
        <div class="subheader-icon"></div>
      </div>
      {% if hashtag %}
      <div class="major-hashtag-container">
        {% for tag in hashtag.all %}
        <div class="major-hashtag-item" id="{{tag.college_tag}}">
          <div class="major-hashtag-label">{{tag.college_tag}}</div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
      <div class="college-posts-container">
        {% for articlepost in post.all%} {% if articlepost.hashtag_set.all%}
        <div
          class="board-wrapper {{articlepost.hashtag_set.all.0.college_tag}}"
          id="{{articlepost.id}}"
        >
          {% else %}
          <div class="board-wrapper" id="{{articlepost.id}}">
            {% endif %}
            <div class="wrap-title-arrow">
              <div class="post-title">{{articlepost.title}}</div>
              <img
                src="/static/icons/common/right_arrow_icon.svg"
                class="arrow-image"
              />
            </div>
            <div class="contents-wrapper">
              {% with articlepost.images.all|first as image%}
              <img class="post-picture-outside" src="{{image.image.url}}" />
              {% endwith %}
              <div class="post-article">
                {{articlepost.body|truncatechars:52}}
              </div>
              <div class="post-date">{{articlepost.pub_time|date:"m/d"}}</div>
              <div class="post-comment-number">
                <img src="/static/icons/common/comment_icon.svg" />
                {{ articlepost.comments.all|length }}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/boards/collegeBoards.js"></script>
    <script></script>
  </body>
</html>
