<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link />
    <title>Document</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../../static/css/component.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../../static/css/frontScreens/collegeList.css"
    />
  </head>
  <body class="background-image">
    <div class="header-wrapper">
      <img
        id='back-button'
        class="header-button"
        src="../../static/icons/common/go_back_icon.svg"
      />
      <div class="header-label">Ewha festival 2021</div>
      <div class="header-button"></div>
    </div>
    <div class="subheader-container">
      <div class="subheader-text">단과대·과별 게시판</div>
    </div>
    <div class="college-list-container" id="collegebutton">
      <div class="college-button-wrapper humanities-wrapper" id="humanities">
        <img
          src="../../static/icons/college/humanities.svg"
          class="college-icon"
          id="humanities"
        />
        <div class="college-name humanities-name" id="humanities">인문대</div>
      </div>
      <div class="college-button-wrapper social-wrapper" id="social">
        <img
          src="../../static/icons/college/socialScience.svg"
          class="college-icon"
          id="social"
        />
        <div class="college-name social-name" id="social">사과대</div>
      </div>
      <div class="college-button-wrapper natural-wrapper" id="natural">
        <img
          src="../../static/icons/college/naturalScience.svg"
          class="college-icon"
          id="natural"
        />
        <div class="college-name natural-name" id="natural">자연대</div>
      </div>
      <div class="college-button-wrapper engineering-wrapper" id="engineering">
        <img
          src="../../static/icons/college/engineering.svg"
          class="college-icon"
          id="engineering"
        />
        <div class="college-name engineering-name" id="engineering">공대</div>
      </div>
      <div class="college-button-wrapper music-wrapper" id="music">
        <img src="../../static/icons/college/music.svg" class="college-icon" id="music" />
        <div class="college-name music-name" id="music">음대</div>
      </div>
      <div class="college-button-wrapper art-wrapper" id="art">
        <img
          src="../../static/icons/college/plasticArts.svg"
          class="college-icon"
          id="art"
        />
        <div class="college-name art-name" id="art">조예대</div>
      </div>
      <div class="college-button-wrapper edu-wrapper" id="edu">
        <img
          src="../../static/icons/college/education.svg"
          class="college-icon"
          id="edu"
        />
        <div class="college-name edu-name" id="edu">사범대</div>
      </div>
      <div class="college-button-wrapper business-wrapper" id="business">
        <img
          src="../../static/icons/college/business.svg"
          class="college-icon"
          id="business"
        />
        <div class="college-name business-name" id="business">경영대</div>
      </div>
      <div class="college-button-wrapper convergence-wrapper" id="convergence">
        <img
          src="../../static/icons/college/convergence.svg"
          class="college-icon"
          id="convergence"
        />
        <div class="college-name convergence-name" id="convergence">신융대</div>
      </div>
      <div class="college-button-wrapper nursing-wrapper" id="nursing">
        <img
          src="../../static/icons/college/nursing.svg"
          class="college-icon"
          id="nursing"
        />
        <div class="college-name nursing-name" id="nursing">간호대</div>
      </div>
      <div class="college-button-wrapper scranton-wrapper" id="scraton">
        <img
          src="../../static/icons/college/scranton.svg"
          class="college-icon"
          id="scraton"
        />
        <div class="college-name scranton-name" id="scraton">스크랜튼대</div>
      </div>
      <div class="college-button-wrapper hokma-wrapper" id="hokma">
        <img src="../../static/icons/college/hokma.svg" class="college-icon" id="hokma"/>
        <div class="college-name hokma-name" id="hokma">호크마</div>
      </div>
    </div>
    <script src="../../static/js/common.js"></script>  
    <script src="../../static/js/frontScreens/collegeList.js"></script>
  </body>

</html>
