<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link />
    <title>Document</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../../static/css/component.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../../static/css/frontScreens/collegeList.css"
    />
  </head>
  <body class="background-image">
    <div class="header-wrapper">
      <img
        class="header-button"
        src="../../static/icons/common/go_back_icon.svg"
      />
      <div class="header-label">Ewha festival 2021</div>
      <div class="header-button"></div>
    </div>
    <div class="subheader-container">
      <div class="subheader-text">단과대·과별 게시판</div>
    </div>
    <div class="college-list-container">
      <div class="college-button-wrapper humanities-wrapper">
        <img
          src="../../static/icons/college/humanities.svg"
          class="college-icon"
        />
        <div class="college-name humanities-name">인문대</div>
      </div>
      <div class="college-button-wrapper social-wrapper">
        <img
          src="../../static/icons/college/socialScience.svg"
          class="college-icon"
        />
        <div class="college-name social-name">사과대</div>
      </div>
      <div class="college-button-wrapper natural-wrapper">
        <img
          src="../../static/icons/college/naturalScience.svg"
          class="college-icon"
        />
        <div class="college-name natural-name">자연대</div>
      </div>
      <div class="college-button-wrapper engineering-wrapper">
        <img
          src="../../static/icons/college/engineering.svg"
          class="college-icon"
        />
        <div class="college-name engineering-name">공대</div>
      </div>
      <div class="college-button-wrapper music-wrapper">
        <img src="../../static/icons/college/music.svg" class="college-icon" />
        <div class="college-name music-name">음대</div>
      </div>
      <div class="college-button-wrapper art-wrapper">
        <img
          src="../../static/icons/college/plasticArts.svg"
          class="college-icon"
        />
        <div class="college-name art-name">조예대</div>
      </div>
      <div class="college-button-wrapper edu-wrapper">
        <img
          src="../../static/icons/college/education.svg"
          class="college-icon"
        />
        <div class="college-name edu-name">사범대</div>
      </div>
      <div class="college-button-wrapper business-wrapper">
        <img
          src="../../static/icons/college/business.svg"
          class="college-icon"
        />
        <div class="college-name business-name">경영대</div>
      </div>
      <div class="college-button-wrapper convergence-wrapper">
        <img
          src="../../static/icons/college/convergence.svg"
          class="college-icon"
        />
        <div class="college-name convergence-name">신융대</div>
      </div>
      <div class="college-button-wrapper nursing-wrapper">
        <img
          src="../../static/icons/college/nursing.svg"
          class="college-icon"
        />
        <div class="college-name nursing-name">간호대</div>
      </div>
      <div class="college-button-wrapper scranton-wrapper">
        <img
          src="../../static/icons/college/scranton.svg"
          class="college-icon"
        />
        <div class="college-name scranton-name">스크랜튼대</div>
      </div>
      <div class="college-button-wrapper hokma-wrapper">
        <img src="../../static/icons/college/hokma.svg" class="college-icon" />
        <div class="college-name hokma-name">호크마</div>
      </div>
    </div>
  </body>
</html>
