<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <link rel="stylesheet" type="text/css" href="/static/css/component.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css/searches/search.css"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="search-page-container">
      <div class="search-header">
        <div class="search-box-wrapper">
          <img src="/static/icons/common/go_back_no_background.svg" />
          <div class="search-box">
            <img src="/static/icons/common/search_icon.svg" />
            <input type="text" placeholder="검색어를 입력해주세요." />
            <img src="/static/icons/common/delete_btn.svg" />
          </div>
        </div>
        <ul class="menu">
          <li class="active">게시판</li>
          <li>부스</li>
        </ul>
      </div>
      <div class="search-result-text">총 3개의 게시글</div>
      <div class="search-board-container">
        <div class="board-wrapper">
          <div class="wrap-title-arrow">
            <div class="post-title">글의 제목입니다.</div>
            <img
              src="/static/icons/common/right_arrow_icon.svg"
              class="arrow-image"
            />
          </div>
          <div class="contents-wrapper">
            <div class="post-picture"></div>
            <div class="post-article">
              커다란 고래부터 작은 플랑크톤까지 먹이가 다양한데, 포식성 상어들의
              경우 빠져도 얼마든지 다시
            </div>
            <div class="post-date">9/1</div>
            <div class="post-comment-number">
              <img src="/static/icons/common/comment_icon.svg" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
