<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
  rel="stylesheet"
  type="text/css"
  href="../../static/css/component.css"
  />
  <link
  rel="stylesheet"
  type="text/css"
  href="../../static/css/searches/search.css"
  />
  <title>Document</title>
</head>
<body>
  <div class="search-page-container">
    <div class="search-header">
      <div class="search-box-wrapper">
          <img src="../../static/icons/common/go_back_no_background.svg">
          <div class="search-box">
            <img src="../../static/icons/common/search_icon.svg" />
            <input type="text" placeholder="검색어를 입력해주세요." />
            <img src="../../static/icons/common/delete_btn.svg" />
          </div>
      </div>
      <ul class="menu">
        <li class="active">게시판</li>
        <li>부스</li>
      </ul> 
    </div>


    <form action="." method="post"> {% csrf_token %} 
      {{ form.as_p }} <!-- form --> 
      <input type="submit">
    </form> 
    
    {% if object_list_college %} <!-- 검색 결과가 있을 경우-->  
    {% for post in object_list_college %} 
    {<a href="{{ post.get_absolute_url }}">{{ collegepost.title }}</a> <!-- 검색된 리스트를 보여준다. --> 
    {% endfor %}
    {% if object_list_booth %}
    {% for post in object_list_booth %}
    {<a href="{{ post.get_absolute_url }}">{{ boothpost.title }}</a> <!-- 검색된 리스트를 보여준다. -->
    {% endfor %}
    {% elif search_word %} <!--검색 결과가 없을 경우-->
    "{{ search_word }}" 검색 결과가 없습니다 <!-- 검색된 결과가 없다는 메세지를 보여준다. -->
    {% endif %}
  


    
</div>
</body>
</html>