<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
  rel="stylesheet"
  type="text/css"
  href="/static/css/component.css"
  />
  <link
  rel="stylesheet"
  type="text/css"
  href="/static/css/searches/search.css"
  />
  <title>Document</title>
</head>
<body>
  <div class="search-page-container">
    <div class="search-header">
      <div class="search-box-wrapper">
          <img src="/static/icons/common/go_back_no_background.svg">
          <div class="search-box">
            <img src="/static/icons/common/search_icon.svg" />
            <input type="text" placeholder="검색어를 입력해주세요." />
            <img src="/static/icons/common/delete_btn.svg" />
          </div>
      </div>
      <ul class="menu">
        <li class="active">게시판</li>
        <li>부스</li>
      </ul> 
    </div>
    <div class="search-result-text">총 3개의 부스</div> 
    <div class="booth-list-container">
        <div class="booth-list-wrapper">
          <div class="booth-list-heart-background">
            <img
              class="heart-icon"
              src="/static/icons/common/empty_heart_icon.svg"
            />
          </div>
            <img class="booth-list-image" src="#" />
            <div class="booth-list-label-wrapper">
              <div class="booth-list-label-header">부스 이름</div>
              <div class="booth-list-label-content">
                부스에 대한 간략한 소개를 하는 텍스트
              </div>
            </div>
        </div>
        <div class="booth-list-wrapper">
          <div class="booth-list-heart-background">
            <img
              class="heart-icon"
              src="/static/icons/common/empty_heart_icon.svg"
            />
          </div>
            <img class="booth-list-image" src="#" />
            <div class="booth-list-label-wrapper">
              <div class="booth-list-label-header">부스 이름</div>
              <div class="booth-list-label-content">
                부스에 대한 간략한 소개를 하는 텍스트
              </div>
            </div>
        </div>
      </div>
</div>
</body>
</html>