<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../../static/css/component.css" />
  <link rel="stylesheet" type="text/css" href="../../static/css/boothDetail.css" />
  <title>boothDeatil</title>

</head>
<body>
  <div class="header-wrapper">
    <a href="#"><img class="header-button" src="Group 290.svg"></a>
    <span class="header-label">중앙운영위원회</span>
    <a href="#"><img class="header-button"></a>
  </div>

  <div class="detail-container">
    <div class="major-board-title">글의 제목입니다.</div>
    <div class="article-date">2021/08/23 13:30</div>
  

  </div>
  <hr>
  



</body>
</html>